<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="bernardo küpfer besa">
    <meta name="author" content="bkupfer">

    <title>bküpfer</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="shortcut icon" type="image/png" href="static/favicon.ico">

    <style type="text/css">
        .monospaced {
            font-family: monospace
        }
        .monoheader {
            color: #F92371;
        }
        .section {
            color: #4194d8;
        }
        .subsection {
            color: #f0a64d;
        }
        .site-footer {
            background: #5496ec;
            color: #FFFFFF;
            text-align: center;
            padding: 2px;
        }
    </style>
</head>

<body>
    <header class="intro-header" style="background-image: url('static/img/bdo-leonera.jpg')">
        <div class="container">
            <h2>Singular</h2>
            <h3>Project manager</h3>
        </div>
    </header>

    <div class="container">
        <div class="row">
            All projects:
            {% for c in customers %}
            <p>{{ c }}</p>
            {% endfor %}
        </div>
    </div>

    <footer class="site-footer korean-footer">
        <div id="footer-content">
            <p>Copyright 2020 @ bküpfer - Powered with Django</p>
        </div>
    </footer>

    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/clean-blog.js"></script>
</body>

</html>
